kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
  - role: control-plane
    kubeadmConfigPatches:
      - |
        kind: InitConfiguration
        nodeRegistration:
          kubeletExtraArgs:
            node-labels: "ingress-ready=true"
    extraPortMappings:
      - containerPort: 30000
        hostPort: 8080 # Airflow/Web
      - containerPort: 30001
        hostPort: 5432 # Postgres
      - containerPort: 8123
        hostPort: 8123 # ClickHouse HTTP
      - containerPort: 80
        hostPort: 80 # Ingress Controller
